@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400;1,500&display=swap');

*{
     padding: 0;
     margin: 0;
     box-sizing: border-box;
     font-family: 'Poppins', sans-serif;
}

.carousel-item {
     height: 50vh;
     min-height: 350px;
     background: no-repeat center center scroll;
     -webkit-background-size: cover;
     -moz-background-size: cover;
     -o-background-size: cover;
     background-size: cover;
}

.prod_container{
     scroll-snap-type: mandatory;
}

.prod_item{
     scroll-snap-align: start;
}

/* Login Design */
input[type="text"],
input[type="email"],
input[type="password"]{
     border: none !important;
     border-bottom: 1px solid #ced4da  !important;
     outline: none !important;
     box-shadow: none !important ;
     border-radius: 0 !important;
}

.modal-footer{
     border: none !important;
}

.jumbotron{
     background-color: #DFE6E9;
}
.footer{
     background-color: #B2BEC3 !important;
}

.input-search{
     padding: 0.3rem;
     border-radius: 5px;
     outline: none;
}


/* ---------------------------Login Page ----------------- */
